body{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
}
.section-title{
    font-size: 3rem;
}
#main{
    background: url("background.png");
    background-size: cover;
    height: 100vh;
}
.logo{
    font-weight: 900;
    font-size: 1.9rem;
}
.nav-item{
    margin: 0 20px;
}
.header-main{
    margin-top: 20px;
}
.header{
    font-weight: 900;
    font-size: 3.5rem;
    color: #ffff;
}
.btn-space{
    margin-top: 20px;
}
.btn-outline-light{
    margin-left: 20px;
}
#overview{
    height: 90vh;
}
.overview-icon{
    font-size: 4rem;
    color: #5a34fc;
    padding: 1rem 0;
}
.overview-row{
    margin-top: 10rem;
}
.info-width{
    width: 60%;
    font-size: 1.6rem;
    padding: 1rem 0;
}
.overview-header{
    font-weight: 900;
    padding: 1rem 0;
}
#testimonial{
    background-color: #5a34fc;
    margin-top: 100px;
    padding: 100px 0;
}
.carousel-item{
    padding: 7% 7%;
}
.carousel-control-next-icon , .carousel-control-next-icon{
    color: white;
}
#myCarousel{
    color: white;
}

